{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent px-2">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">
        Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'entry' title %}">
        {{ title }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Page</li>
  </ol>
</nav>
<div class="px-2">
  <h1>Edit Page</h1>
  <!-- show error -->
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <!-- show edit entry form -->
  <form method="post" action="{% url 'edit' title %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save mr-2"></i>
      Save Page
    </button>
  </form>
</div>

{% endblock %}
