{% extends "encyclopedia/layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block body %}
<h1>
  Search Results for "{{ query }}"
</h1>

{% if results %}
<div class="list-group">
  {% for entry in results %}
  <a href="{% url 'entry' entry %}" class="list-group-item list-group-item-action">
    <i class="fa-regular fa-file-lines mr-2"></i>
    {{ entry }}
  </a>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  No results found.
</div>
{% endif %}

{% endblock %}
